.toolbar-wrapper {
    position: fixed;
    bottom: 32px;
    left: 50%;
    padding: 0px 24px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transform: translateX(-50%);
}

.toolbar-wrapper .anticon {
    padding: 12px;
    cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
    opacity: 0.3;
}

.preview {
    padding: 32px;
    display: flex;
    flex: auto;
    flex-direction: row;
}

.preview-description {
    color: #fff;
}

.preview-description-wrapper {
    width: 100%;
    height: fit-content;
    margin-left: 18px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 6px;
    background: #333333;
    opacity: 0.8;

}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 300px;
}

.book-title {
    text-align: center;
}